body {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

header {
    display: flex;
    width: 100vh;
}

ul {
    display: flex;
    list-style: none;
    color: black;
    font-size: 40px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    gap: 28px;
}